<div class="row">
  <div class="col pt-5">
    <h4>Feedback Form</h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit();" class="px-3">
      <div class="form-group">
        <label for="email">Email</label>
        <input [formControlName]="'email'" type="text" class="form-control" id="email">
        <ng-container *ngIf="!feedbackForm.get('email').valid && feedbackForm.get('email').touched">
          <span *ngIf="feedbackForm.get('email').errors['required']">This field is required.</span>
          <span *ngIf="feedbackForm.get('email').errors.email">Invalid email.</span>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input [formControlName]="'subject'" type="text" class="form-control" id="subject">
        <span *ngIf="!feedbackForm.get('subject').valid && feedbackForm.get('subject').touched">
          This field is required.
        </span>
      </div> 
      <div class="form-group">
        <label for="feedback">Feedback</label>
        <textarea [formControlName]="'feedback'" class="form-control" rows="5" id="feedback"></textarea>
        <span *ngIf="!feedbackForm.get('feedback').valid && feedbackForm.get('feedback').touched">
          This field is required.
        </span>
      </div>
      <button class="btn btn-primary mt-3" type="submit">Submit Feedback</button>
    </form>
  </div>
</div>
