<div class="row pt-5 align-items-top">
  <div class="col-3">
    <img src="/assets/images/{{ myMovie[0].image }}" alt="{{ myMovie[0].title }}" class="img-fluid" />
  </div>
  <div class="col-9 text-left">
    <h1 class="display-4 mb-3">{{ myMovie[0].title }}</h1>
    <p>
      Studio: {{ myMovie[0].studio }}<br />
      Year: {{ myMovie[0].year }}<br />
      Actors: {{ myMovie[0].actors }}
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <a routerLink="/browse" class="btn btn-primary">&lt; Back to list</a>
  </div>
</div>
  