<div class="row mt-4">
  <div class="col-6 mr-auto">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Movies" aria-label="Search Movies" aria-describedby="btn-search">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="btn-search">Search</button>
      </div>
    </div>
  </div>
  <div class="col-2 ml-auto">
    <div class="form-group">
      <select class="form-control" id="selectGenre" #selectGenre (change)="genreChange(selectGenre);">
        <option disabled selected>Select Genre</option>
        <ng-container *ngFor="let genre of genreList">
          <option value="{{ genre.id }}">{{ genre.name }}</option>
        </ng-container>
      </select>
    </div>
  </div>
</div>
<div class="card-deck pb-4">
  <div class="col-4 p-0" *ngFor="let movie of myMovies; let i=index">
    <div class="card mb-3">
      <img class="card-img-top" src="assets/images/intro.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.genre_id }}</p>
        <a [routerLink]="['/browse/movie/', i + 1]" class="btn btn-primary float-right">View Details</a>
      </div>
    </div>
    <div class="w-100" *ngIf="(i + 1) % 3 == 0"></div>
  </div>
  <!-- <div class="card">
    <img class="card-img-top" src="assets/images/intro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Test movie title</h5>
      <p class="card-text">Thriller</p>
      <a href="/browse/movie/" class="btn btn-primary float-right mb-3">View Details</a>
    </div>
  </div> -->
</div>