<div class="row pt-5 align-items-center">
  <!-- <h1>Welcome to {{ title }}</h1> -->
  <div class="col-5">
    <img src="assets/images/intro.jpg" alt="introduction" class="img-fluid" />
  </div>
  <div class="col-7 text-left">
    <p>Welcome to SP Movie.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, itaque fugit nihil tenetur sint autem quis adipisci laboriosam, distinctio harum ad mollitia animi perferendis vitae, deserunt ea eaque placeat neque.</p>
    <!-- <p>Browse all our movie titles now.</p> -->
    <a routerLink="/browse" class="btn btn-primary">Browse our titles</a>
  </div>
</div>
  